!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FunnyMovies
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    = javascript_include_tag 'https://code.jquery.com/jquery-3.6.4.min.js'
  %body
    - flash.each do |type, message|
      %div{ class: "flash-#{type}" }
        = message
    = render partial: 'layouts/header'
    .content
      = yield
